<!--from: https://material.angular.io/components/tree/examples-->

<mat-tree class="list"
          [dataSource]="dataSource"
          [treeControl]="treeControl"
          cdkDropList id="list-1"
          cdkDropListConnectedTo="list-2">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node class="node1"
                 *matTreeNodeDef="let node"
                 matTreeNodePadding
                 matTreeNodeToggle
                 cdkDrag
                 [cdkDragData]="node">
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node class="node0"
                 *matTreeNodeDef="let node;when: hasChild"
                 matTreeNodePadding
                 cdkDrag
                 [cdkDragData]="node">
    <button mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
