html,
body {
  height: 100%;
  margin: 0;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 0 1 auto;
  margin: 0;
  text-align: left;
  padding-left: 20px;
  min-height: 80px;
  height: 80px;
  line-height: 80px;
  background-color: darkblue;
  color: white;
}

.overview {
  background-color: #6581AE;
  flex: 1 1 auto;
}

