[submodule "src/main/kotlin/ch/unibas/dmi/dbis/cottontail/cottontaildb-proto"]
	path = src/main/kotlin/ch/unibas/dmi/dbis/cottontail/cottontaildb-proto
	url = https://github.com/ppanopticon/cottontaildb-proto.git
