# Files related to the project
.idea
.gradle
build
out

# Java Dependencies
*.jar
*.war
*.ear
*.iml

# Node
node_modules
npm-debug.log
yarn-error.log

#Angular
.angular
openapi

!gradle/wrapper/gradle-wrapper.jar

*.db
data/
testOut/
*.log
cottontaildb-data
cottontaildb-data-*
