.app-container{
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 100px 1fr;
}
.header{
  grid-column: 1/-1;
}

.content {
  display: flex;
}
.sidebar {
  overflow: auto;
}
.main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}


