.container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  padding: 10px;
}
h1{
  padding: 10px;
}
.create-entity{
  margin: 10px;
  border-radius: 5px;
  border: #4a148c solid 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 10px;
  height: fit-content;
}
table{
  grid-column: 1/-1;
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px 4px  0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr{
  color: white;
  background-color: #4a148c;
  text-align: left;
  font-weight: bold;
}

th,td{
  padding: 12px 15px;
}

tbody tr{
  border-bottom: 1px solid lightgrey;
}




