<div class="view-container">
  <div class="entity-details">
    <div class="selection-header">
      <ng-container *ngIf="!aboutEntityData; else showName">
        <h1>Please select an entity in the sidebar</h1>
      </ng-container>
      <ng-template #showName>
        <h2>{{selection['entity'].split(".").slice(-1)}}</h2>
      </ng-template>
    </div>
    <div class="table">
      <table>
        <thead>
        <tr *ngIf="aboutEntityData">
          <th>dbo</th>
          <th>class</th>
          <th>type</th>
          <th>rows</th>
          <th>l_size</th>
          <th>nullable</th>
          <th>info</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aboutEntityData">
          <td><span>{{item.dbo.split(".").pop()}}</span></td>
          <td><span>{{item._class}}</span></td>
          <td><span>{{item.type}}</span></td>
          <td><span>{{item.rows}}</span></td>
          <td><span>{{item.lsize}}</span></td>
          <td><span>{{item.nullable}}</span></td>
          <td><span>{{item.info}}</span></td>
          <td>
            <button mat-raised-button color="warn" *ngIf="item._class === 'INDEX'" (click)="onDropIndex(this.selection.port, item.dbo)">DROP INDEX</button>
            <button mat-raised-button color="custom-green" *ngIf="item._class === 'COLUMN'" (click)="onCreateIndex(this.selection.port, item.dbo)">CREATE INDEX</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


