<div class="container">
  <div class="entity-details">
    <h1 *ngIf="aboutEntityData != null">{{this.selection.entity}}</h1>
    <h1 *ngIf="aboutEntityData === null">Select an Entity in the sidebar menu</h1>
    <div class="table">
      <table>
        <thead>
        <tr *ngIf="aboutEntityData != null">
          <th>dbo</th>
          <th>class</th>
          <th>type</th>
          <th>rows</th>
          <th>l_size</th>
          <th>nullable</th>
          <th>info</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aboutEntityData">
          <td><span>{{item.dbo.split(".").pop()}}</span></td>
          <td><span>{{item._class}}</span></td>
          <td><span>{{item.type}}</span></td>
          <td><span>{{item.rows}}</span></td>
          <td><span>{{item.l_size}}</span></td>
          <td><span>{{item.nullable}}</span></td>
          <td><span>{{item.info}}</span></td>
          <td>
            <button mat-flat-button color="warn" *ngIf="item._class === 'INDEX'" (click)="onDropIndex(this.selection.port, item.dbo)">DROP INDEX</button>
            <button mat-flat-button color="accent" *ngIf="item._class === 'COLUMN'" (click)="onCreateIndex(this.selection.port, item.dbo)">CREATE INDEX</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


