<div class="view-container">
  <div class="entity-details">
    <div class="selection-header">
      <ng-container *ngIf="!aboutEntityData; else showName">
        <h1>Please select an entity in the sidebar</h1>
      </ng-container>
      <ng-template #showName>
        <h2>{{selection['entity'].split(".").slice(-1)}}</h2>
      </ng-template>
    </div>




    <div class="table" *ngIf="aboutEntityData">

      <mat-table [dataSource]="aboutEntityData">

        <mat-header-row *matHeaderRowDef="headerColumnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: headerColumnNames"></mat-row>

        <ng-container *ngFor="let col of ddlColumnNames; index as i">
          <ng-container [matColumnDef]="col">
            <mat-header-cell  *matHeaderCellDef > {{col}} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="col === 'dbo'">
                {{row[col].split(".").pop()}}
              </ng-container>
              <ng-container *ngIf="col !== 'dbo'">
                {{row[col]}}
              </ng-container>
            </mat-cell>
          </ng-container>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell  *matHeaderCellDef >action</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" *ngIf="row._class === 'INDEX'" (click)="onDropIndex(this.selection.connection, row.dbo)">
              <span class="material-symbols-outlined">delete</span>
            </button>
            <button mat-raised-button color="custom-green" *ngIf="row._class === 'COLUMN'" (click)="onCreateIndex(this.selection.connection, row.dbo)">
              index
            </button>
          </mat-cell>
        </ng-container>

      </mat-table>

    </div>
  </div>
</div>


