<ng-container>
  <mat-card>
    <mat-card-content>
      <div [formGroup]="conditions" class="select-form">
        <div class="title">
          SELECT
          <button mat-icon-button (click)="remove()"><mat-icon>delete</mat-icon></button>
        </div>

        <div class="form-container">
          <ng-container  *ngFor="let item of aboutEntityData">
            <div class="form-field-container" *ngIf="item._class === 'COLUMN'">
              <mat-label> {{item.dbo.split(".")[3]}} </mat-label>
              <mat-checkbox [formControlName]="item.dbo"> </mat-checkbox>
            </div>
          </ng-container>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
