<ng-container>
  <mat-card>
    <mat-card-content>

      <div [formGroup]="conditions" class="query-form">
        <div class="query-form-header">
          WHERE
          <button mat-icon-button (click)="remove()"><mat-icon>delete</mat-icon></button>
        </div>

        <div class="form-container">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>column</mat-label>
            <input type="text"
                   placeholder="Pick or specify"
                   aria-label="column"
                   matInput
                   formControlName="column"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <ng-container *ngFor="let item of aboutEntityData; index as i">
                <ng-container *ngIf="item._class === 'COLUMN'">
                  <mat-option [value]="item.dbo">{{item.dbo.split(".")[3]}}</mat-option>
                </ng-container>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> operator </mat-label>
            <mat-select formControlName="operator">
              <mat-option *ngFor="let operator of operators" [value]="operator">{{operator}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> value </mat-label>
            <input matInput formControlName="value">
          </mat-form-field>


        </div>

      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
