<ng-container>
  <mat-card>
    <mat-card-content>
      <div [formGroup]="conditions" class="order-form">

        <div class="title">
          ORDER
          <button mat-icon-button (click)="remove()"><mat-icon>delete</mat-icon></button>
        </div>


        <!--only load form if an entity has been selected and its data is available-->
        <div class="form-container" *ngIf="this.aboutEntityData">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>column</mat-label>
            <input type="text"
                   placeholder="Pick or specify"
                   aria-label="column"
                   matInput
                   formControlName="column"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <ng-container *ngFor="let item of aboutEntityData; index as i">
                <ng-container *ngIf="item._class === 'COLUMN'">
                  <mat-option [value]="item.dbo">{{item.dbo.split(".")[3]}}</mat-option>
                </ng-container>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> direction </mat-label>
            <mat-select formControlName="direction">
              <mat-option *ngFor="let direction of ['ASC', 'DESC']" [value]="direction">{{direction}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
