<div class="container">

  <h1> create new schema </h1>

  <form #name="ngForm"
        (ngSubmit)="submit()"
        [formGroup]="schemaForm">

    <div class="form-group">

      <input type="text"
             formControlName="name"
             class="form-control"
             ngModel>
      <span class="mat-error" *ngIf="name.invalid&&name.touched"> </span>
    </div>

    <button class="btn btn-primary"
            type="submit"
            [disabled]="schemaForm.invalid">
      Submit
    </button>

  </form>
</div>
