

<div class="container" >
  <div *ngFor="let connection of connections">
    <div class="connection-header">
      <h2>
        Port: {{connection}}
      </h2>
      <button mat-flat-button
              color="accent"
              (click)="onCreateSchema()">
        CREATE SCHEMA
      </button>

    </div>
    <app-tree class="tree" [port]="connection"></app-tree>
  </div>
  <button mat-flat-button
          color="accent"
          (click)="onAddConnection()">
    ADD CONNECTION
  </button>
</div>
