.container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.connection-header{
  display:flex;
  justify-content: space-between;
}
button{
  width: fit-content;
  height: fit-content;
}
.arrow {
  animation-name: warning;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.add-connection{
  display: flex;
  flex-direction: row;
  justify-items: center;
}


