<ng-container>
  <mat-card>
    <mat-card-content>
      <div [formGroup]="conditions" class="query-form">

        <div class="query-form-header">
          LIMIT
          <button mat-icon-button (click)="remove()"><mat-icon>delete</mat-icon></button>
        </div>

        <div class="form-container">

          <mat-form-field appearance="outline">
            <mat-label> limit </mat-label>
            <input (keydown)="numberOnly($event)" matInput formControlName="limit">
          </mat-form-field>

        </div>

      </div>
    </mat-card-content>
  </mat-card>

</ng-container>
