<div *ngIf="(data | async)" [style.display]="'flex'">
  <div [style.width]="'50%'">
    <mat-list>
      <div mat-subheader>Columns</div>
      <mat-list-item *ngFor="let c of (data | async)?.columns">
        <mat-icon matListItemIcon>view_column_2</mat-icon>
        <div matListItemTitle>{{c.simple}}</div>
        <div matListItemLine>
          {{c.type}}
          {{c.length > 1 ? '(' + c.length + ')' : ''}}
          {{c.nullable ? ', NULLABLE' : ', NOT NULLABLE'}}
          {{c.autoIncrement ? ', AUTO INCREMENT' : ''}}
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div [style.width]="'50%'">
    <mat-list>
      <div mat-subheader>Indexes</div>
      <mat-list-item *ngFor="let i of (data | async)?.indexes">
        <mat-icon matListItemIcon>account_tree</mat-icon>
        <div matListItemTitle [style.display]="'flex'">
          <div>{{i.simple}}</div>
          <div class="spacer-flex"></div>
          <div>
            <button mat-icon-button color="accent" [matTooltip]="'Rebuild index ' + '\'' + i.simple + '\''">
              <mat-icon>autorenew</mat-icon>
            </button>
            <button mat-icon-button color="warn" [matTooltip]="'Drop index ' + '\'' + i.simple + '\''">
              <mat-icon>delete_permanently</mat-icon>
            </button>
          </div>
        </div>
        <div matListItemLine>
          {{i.type}}
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="(data | async)?.indexes!!.length == 0">
          No index for this entity.
      </mat-list-item>
    </mat-list>
  </div>
</div>
