<table mat-table [dataSource]="dataSource" [style.width]="'100%'" matSort>
  <ng-container *ngFor="let column of columns; let colIndex = index" matColumnDef="{{column}}">
    <th mat-header-cell *matHeaderCellDef matSort>
      <ng-container *ngIf="column === '___actions___'; else defaultColumnHeader;">
        Actions
      </ng-container>
      <ng-template #defaultColumnHeader>
        {{column}}
      </ng-template>
    </th>
    <td mat-cell *matCellDef="let element">

      <!-- Template for 'actions' column -->
      <ng-container *ngIf="column === '___actions___'; else defaultColumn;">
        <button mat-icon-button *ngIf="!element.isEditing" (click)="element.isEditing = true" color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="element.isEditing" color="accent" >
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button *ngIf="element.isEditing" (click)="element.isEditing = false">
          <mat-icon>abort</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!element.isEditing" color="warn" (click)="delete(element.value)">
          <mat-icon>delete_permanently</mat-icon>
        </button>
      </ng-container>

      <!-- Template for default column -->
      <ng-template #defaultColumn>
        <ng-container *ngIf="!element.isEditing">
          {{[columnTypes[colIndex], element.value[colIndex]] | formatValue}}
        </ng-container>
        <ng-container *ngIf="element.isEditing">
          <input matInput [value]="element.value[colIndex]"/>
        </ng-container>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td *ngIf="!isLoading" class="mat-cell" [attr.colspan]="columns.length">
      No data matching the filter.
    </td>
    <td *ngIf="isLoading" [colSpan]="columns.length">
      <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
    </td>
  </tr>
</table>

<mat-paginator [length]="total" [pageSizeOptions]="[20, 30, 40, 50]" showFirstLastButtons aria-label="Select page of transactions."></mat-paginator>
