.container {
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 1290px) {
  .container{
    flex-direction: column;
  }
}
.preview-title{
  display: flex;
}
h2{
  margin-right: auto;
}

.step-container{
  border-radius: 5px;
}
.step-content{
  display: grid;
  grid-template-columns: repeat(3,120px) 50px;
  grid-auto-rows: 1fr;
  align-content: center;
  align-items: center;
}
.preview-container{
  display:flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  width:100%;
}
.btn-primary{
  width: fit-content;
  height: fit-content;
  grid-column: 4;
}

.form-card{
  padding: 10px;
  height: fit-content;
  outline: darkgrey auto 5px;
}
.drop-step{
  display: flex;
  flex-direction: row;
}

app-drop-zone{
  min-width: 380px;
}

form{
 text-align: center;
  display: flex;
  flex-direction: row;
}

.error{
  color: red;
}
table{
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px 4px  0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr{
  color: white;
  background-color: #4a148c;
  text-align: left;
  font-weight: bold;
}

th,td{
  padding: 12px 15px;
}

tbody tr{
  border-bottom: 1px solid lightgrey;
}

mat-stepper {
}

.mat-form-field {
  margin-top: 16px;
}

mat-checkbox{
  margin: 10px;
  line-height: 70px;
}
