<div class="container">
  <div class="step-container">
    <mat-stepper
      orientation="vertical" [linear]="false" #stepper>

      <mat-step>
        <div class="drop-step">
          <ng-template matStepLabel>Choose Schema</ng-template>
          <div class="step-content">
            <app-drop-zone (itemDroppedEvent)="setSchemaName(stepper, $event)"></app-drop-zone>
          </div>
        </div>
      </mat-step>

      <mat-step>

        <form #entityName="ngForm"
              (ngSubmit)="submitEntityName()"
              [formGroup]="entityForm">
          <ng-template matStepLabel>Name Entity</ng-template>

          <div class="step-content">
            <mat-form-field appearance="outline">
              <mat-label>entity name</mat-label>
              <input matInput class="form-control" type="text" name= "name" placeholder="Last name, First name" formControlName="name" ngModel>
            </mat-form-field>

            <button mat-flat-button
                    color="accent"
                    matStepperNext
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="entityForm.invalid || entityNameSet">
              Next
            </button>

          </div>

        </form>


      </mat-step>

      <mat-step>

        <form #name="ngForm"
              (ngSubmit)="submitColumn()"
              [formGroup]="columnForm">

          <ng-template matStepLabel>Define columns</ng-template>

          <div class="step-content">
            <mat-form-field appearance="outline">
              <mat-label>column name</mat-label>
              <input matInput type="text"
                     formControlName="name"
                     name= "name"
                     class="form-control"
                     ngModel>
            </mat-form-field>

            <mat-form-field appearance="outline">

              <mat-label>Type</mat-label>
              <mat-select  formControlName="type"  class="form-control">
                <mat-option>--- None ---</mat-option>
                <mat-option value="{{type}}" *ngFor="let type of types">{{type}}</mat-option>
              </mat-select>

              <span class="mat-error" *ngIf="name.invalid&&name.touched"> </span>

            </mat-form-field>

            <mat-form-field appearance="outline">

              <mat-label>Nullable</mat-label>
              <mat-select  formControlName="nullable"  class="form-control">
                <mat-option>--- None ---</mat-option>
                <mat-option value="{{nullable}}" *ngFor="let nullable of [true,false]">{{nullable}}</mat-option>
              </mat-select>

              <span class="mat-error" *ngIf="name.invalid&&name.touched"> </span>

            </mat-form-field>


            <button class="btn btn-primary"
                    mat-flat-button
                    color="accent"
                    [disabled]="columnForm.invalid">
              Add
            </button>
          </div>
        </form>


      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Submit</ng-template>

        <div class="step-content">
        <mat-label>Check the preview and create</mat-label>
        <button mat-flat-button
                color="accent"
                type="button"
                class="btn btn-primary"
                (click)="onCreateEntity()" [disabled]="!entityNameSet || (columnData.length === 0)">
          Create
        </button>
          </div>
      </mat-step>
    </mat-stepper>
  </div>



<div class="preview-container">
  <div class="preview-title">
    <h2> Preview: {{schemaName}}.{{entityForm.value.name}}  </h2>
    <button class="btn btn-primary"
            (click)="onReset()"
            mat-flat-button
            color="accent">
      Reset
    </button>
  </div>
  <div>

    <div class="table">
      <table>
        <thead>
        <tr>
          <th>name</th>
          <th>type</th>
          <th>nullable</th>
          <th>size</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of columnData">
          <td><span>{{item.name}}</span></td>
          <td><span>{{item.type}}</span></td>
          <td><span>{{item.nullable}}</span></td>
          <td><span>-1</span></td>
          <td><button mat-button type="button" class="btn btn-primary" (click)="removeItem(item)">Remove</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>










</div>



