* {
  display: flex;
}

.drop-zone{
  border: #ccc dashed 2px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-top: 15px;
  height: 100px;
  width: 100px;
}
.header {
  color: white;
  text-align: center;
  line-height: 300px;
}


