<div class="container">

  <mat-label> create new schema </mat-label>

  <form #name="ngForm"
        (ngSubmit)="submit()"
        [formGroup]="schemaForm">

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>schema name</mat-label>
        <input matInput type="text"
               formControlName="name"
               name= "name"
               class="form-control"
               ngModel>
      </mat-form-field>

    </div>

    <button mat-button
            class="btn btn-primary"
            type="submit"
            [disabled]="schemaForm.invalid">
      Submit
    </button>

  </form>
</div>
