<div class="view-container">

  <div class="query-header">
    <ng-container *ngIf="this.selection.entity && this.selection.port">
      <h1>{{"FROM: " + selection.entity.split(".")[2]}}</h1>
    </ng-container>
    <ng-container *ngIf="!this.selection.entity && !this.selection.port">
      <h1>Select an Entity in the sidebar menu</h1>
    </ng-container>

    <div class="function-buttons">
      <button mat-raised-button color="custom-blue" (click)="addSelect()">SELECT</button>
      <button mat-raised-button color="custom-blue" (click)="addOrder()">ORDER</button>
      <button mat-raised-button color="custom-blue" (click)="addDistance()">DISTANCE</button>
      <button mat-raised-button color="custom-blue" (click)="addLimit()">LIMIT</button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <ng-container [formGroup]="queryForm">
      <div formArrayName="queryFunctions" class="query-builder">
        <div class="drop-list" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">

          <ng-container *ngFor="let item of queryFunctions.controls; index as i"
                        [ngSwitch]="item.value.function">
            <div cdkDrag *ngSwitchCase="'select'">
              <app-select-form [index]="i">
              </app-select-form>
            </div>

            <div cdkDrag *ngSwitchCase="'order'" >
              <app-order-form [index]="i">
              </app-order-form>
            </div>

            <div cdkDrag *ngSwitchCase="'distance'">
              <app-distance-form [index]="i">
              </app-distance-form>
            </div>

            <div cdkDrag *ngSwitchCase="'limit'">
              <app-limit-form [index]="i">
              </app-limit-form>
            </div>

          </ng-container>
      </div>
    </div>
  </ng-container>

  <button mat-raised-button color="custom-green" (click)="onQuery()">EXECUTE QUERY</button>

  <div *ngIf="querying">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="queryData" class="query-table">

    <mat-table [dataSource]="queryData.rows">

      <mat-header-row *matHeaderRowDef="queryData.columnNames"></mat-header-row>
      <mat-row *matRowDef="let row; columns: queryData.columnNames"></mat-row>

      <ng-container *ngFor="let col of queryData.columnNames; index as i">
        <ng-container [matColumnDef]="col">
          <mat-header-cell  *matHeaderCellDef > {{col.split(".").slice(-1)}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{trim(row[i])}}</mat-cell>
        </ng-container>
      </ng-container>
    </mat-table>

    <mat-paginator [length]="queryData.numberOfRows"
                   [pageSize]="queryData.pageSize"
                   [pageSizeOptions]="[5,10]"
                   (page)="pageEvent = $event; onPageChange($event)">

    </mat-paginator>
  </div>

</div>



