.container{
  display: flex;
  flex-direction: column;
  margin: 40px 20px 20px;
}
.function-list{
  display: flex;
  flex-direction: row;
}
.function-list>div{
  margin-right: 10px;
}
.query-header {
  display: flex;
  width: auto;
  justify-content: space-between;
}
.function-buttons button
{
  margin-left: 10px;
}
.drop-list{
  display: flex
}
.drop-list div{
  margin-right: 10px;
}
.query-header{
  margin-bottom: 20px;
}
.query-builder{
  width: 100%;
  overflow: scroll;
  margin-bottom: 20px;
}

